<script>
  var chart_line_color = '#f24141'
  var chart_background_color = 'rgba(242, 65, 65, 0.2)'
  var calendar_data_color = '#f24141'
</script>
{% extends 'restrict/common/base.html' %}

{% block nav %}
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('restrict.home') }}">
          <span data-feather="home"></span>
          Home <span class="sr-only"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('expenses.home') }}">
          <span data-feather="home"></span>
          Expenses home <span class="sr-only"></span>
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Expenses</span>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('expenses.common') }}">
          <span data-feather="file-text"></span>
          Common expenses
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('expenses.uncommon') }}">
          <span data-feather="file-text"></span>
          Uncommon expenses
        </a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('expenses.estimated') }}">
          <span data-feather="file-text"></span>
          Estimated expenses
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('expenses.programmed') }}">
          <span data-feather="file-text"></span>
          Programmed expenses
        </a>
      </li>
      -->
    </ul>
  </div>
</nav>
{% endblock %}

{% block section_1 %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Your monthly expenses for {{ current_year }}</h1>
</div>
<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
{% endblock %}

{% block section_2 %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Your expenses calendar</h1>
</div>
<div id="calendar"></div> 
{% endblock %}