{% extends 'restrict/common/base.html' %}

{% block nav %}
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('restrict.home') }}">
          <span data-feather="home"></span>
          Home <span class="sr-only"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('revenues.home') }}">
          <span data-feather="file"></span>
          Revenues
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('expenses.home') }}">
          <span data-feather="shopping-cart"></span>
          Expenses
        </a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block section_1 %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Your wallet</h1>
</div>
<div class="row text-center pt-3 pb-2 mb-3">
  <div class="col-12 pt-3 pb-2 mb-3">
    <h1>Your current balance is</h1>
  </div>
  <div class="col-12">
    {% if balance < 0 %}
    <h1 style='color:#f24141'>R$ {{ balance }}</h1>
    {% elif balance > 0 %}
    <h1 style='color:#2bd143'>R$ {{ balance }}</h1>
    {% else %}
    <h1>R$ {{ balance }}</h1>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block section_2 %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h1 class="h2">Wallet informations for {{ curr_month }}</h1>
</div>
<div class="row jumbotron pt-3 pb-2 mb-3">
  <div class="col-12">
    <h5>You have a total of 
      {{ revenues_info['comum']['quantidade'] + revenues_info['incomum']['quantidade'] }}
      revenue(s), totalizing
    </h5>
    <h1>
      <span class="badge badge-success">
        R$ {{ revenues_info['comum']['total'] + revenues_info['incomum']['total'] }}
      </span>
    </h1>
    {% if revenues_info['comum']['desatualizadas'] > 0 %}
    <hr>
    <div class="alert alert-warning">
      You need to update {{ revenues_info['comum']['desatualizadas'] }} common revenue(s) !
      <a href="{{ url_for('revenues.common') }}" role="button">Update here</a>
    </div>
    {% endif %}
  </div>
</div>
<div class="row jumbotron pt-3 pb-2 mb-3">
  <div class="col-12">
    <h5>
      You have a total of 
      {{ expenses_info['comum']['quantidade'] + expenses_info['incomum']['quantidade'] }} 
      expenses(s), totalizing
    </h5>
    <h1>
      <span class="badge badge-danger">
        R$ {{ expenses_info['comum']['total'] + expenses_info['incomum']['total'] }}
      </span>
    </h1>
    {% if expenses_info['comum']['desatualizadas'] > 0 %}
    <hr>
    <div class="alert alert-warning">
      You need to update {{ expenses_info['comum']['desatualizadas'] }} common expenses(s) !
      <a href="{{ url_for('expenses.common') }}" role="button">Update here</a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}